<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.web.controller.pkg.mapper.TApkMapper">
    
    <resultMap type="TApk" id="TApkResult">
        <result property="id"    column="id"    />
        <result property="applicationName"    column="application_name"    />
        <result property="packageName"    column="package_name"    />
        <result property="packagePath"    column="package_path"    />
        <result property="downloadPath"    column="download_path"    />
    </resultMap>

    <sql id="selectTApkVo">
        select id, application_name, package_name, package_path, download_path from t_apk
    </sql>

    <select id="selectTApkList" parameterType="TApk" resultMap="TApkResult">
        <include refid="selectTApkVo"/>
        <where>  
            <if test="applicationName != null  and applicationName != ''"> and application_name like concat('%', #{applicationName}, '%')</if>
        </where>
    </select>
    
    <select id="selectTApkById" parameterType="Long" resultMap="TApkResult">
        <include refid="selectTApkVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTApk" parameterType="TApk" useGeneratedKeys="true" keyProperty="id">
        insert into t_apk
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applicationName != null  and applicationName != ''">application_name,</if>
            <if test="packageName != null  and packageName != ''">package_name,</if>
            <if test="packagePath != null  and packagePath != ''">package_path,</if>
            <if test="downloadPath != null  and downloadPath != ''">download_path,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applicationName != null  and applicationName != ''">#{applicationName},</if>
            <if test="packageName != null  and packageName != ''">#{packageName},</if>
            <if test="packagePath != null  and packagePath != ''">#{packagePath},</if>
            <if test="downloadPath != null  and downloadPath != ''">#{downloadPath},</if>
         </trim>
    </insert>

    <update id="updateTApk" parameterType="TApk">
        update t_apk
        <trim prefix="SET" suffixOverrides=",">
            <if test="applicationName != null  and applicationName != ''">application_name = #{applicationName},</if>
            <if test="packageName != null  and packageName != ''">package_name = #{packageName},</if>
            <if test="packagePath != null  and packagePath != ''">package_path = #{packagePath},</if>
            <if test="downloadPath != null  and downloadPath != ''">download_path = #{downloadPath},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTApkById" parameterType="Long">
        delete from t_apk where id = #{id}
    </delete>

    <delete id="deleteTApkByIds" parameterType="String">
        delete from t_apk where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>